/* start variables */
:root {
    --mainColor: #10cab7;
    --secnodColor: #2c4755;
    --sectionPadding: 60px 0;
    --mainTransition: 0.3s;
}
/* end variables */

/* start framwork */
.grid-3 {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
}
/* end framwork */

/* start components */

.speacial-heading {
    text-transform: capitalize;
    font-size: 100px;
    font-weight: 800;
    color: #ebeced;
    letter-spacing: -3px;
    margin: 0;
    text-align: center;
}

.speacial-heading + p {
    margin: -30px 0 0px;
    color: var(--secnodColor);
    text-transform: capitalize;
    text-align: center;
}

@media (max-width: 767px) {
    .speacial-heading {
        font-size: 60px;
    }
    
    .speacial-heading + p {
        margin: -20px 0 0;
    }
}

/* end components */

/* start global rules */

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Work Sans', sans-serif;
    margin: 0;
}

.container {
    margin: auto;
    padding: 0 15px;
}

/* small */
@media (min-width: 768px) {
    .container {
        width: 750px;
    }
}

/* medium */
@media (min-width: 992px) {
    .container {
        width: 970px;
    }
}

/* large */
@media (min-width: 1200px) {
    .container {
        width: 1170px;
    }
}

/* end global rules */

/* start header */

.header {
    padding: 20px;
}

.header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header .container .logo {
    width: 60px;
}

.header .container .links {
    position: relative;
}

.header .container .links:hover .icon span:nth-child(2) {
    width: 100%;
}

.header .container .links .icon {
    display: flex;
    flex-flow: row-reverse wrap;
    width: 30px;
}

.header .container .links:hover ul {
    display: block ;
}

.header .container .links .icon span {
    width: 100%;
    background-color: #333;
    height: 2px;
    margin-bottom: 5px;
}

.header .container .links .icon span:nth-child(2) {
    width: 60%;
    transition: var(--mainTransition);
    -webkit-transition: var(--mainTransition);
    -moz-transition: var(--mainTransition);
    -ms-transition: var(--mainTransition);
    -o-transition: var(--mainTransition);
}

.header .container .links ul {
    margin: 0;
    padding: 0;
    min-width: 200px;
    list-style: none;
    position: absolute;
    right: 0;
    top: calc(100% + 15px);
    background-color: #f6f6f6;
    display: none;
    z-index: 1;
}

.header .container .links ul::before {
    content: '';
    border: 10px solid;
    border-color: transparent transparent #f6f6f6 transparent;
    position: absolute;
    top: -20px;
    right: 5px;
}

.header .container .links ul li:not(:last-child) {
    border-bottom: 1px solid #ddd;
}

.header .container .links ul li a {
    display: block;
    padding: 15px;
    text-transform: capitalize;
    text-decoration: none;
    color: #333;
    transition: var(--mainTransition);
    -webkit-transition: var(--mainTransition);
    -moz-transition: var(--mainTransition);
    -ms-transition: var(--mainTransition);
    -o-transition: var(--mainTransition);
}

.header .container .links ul li a:hover {
    margin-left: 10px;
}

/* end header */

/* start landing section */

.landing {
    background-image: url(../images/cover.jpg);
    background-size: cover;
    background-attachment: fixed;
    height: calc(100vh - 64px);
}

.landing .container {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.landing .intro-text {
    width: 320px;
    max-width: 100%;
    text-align: center;
    text-transform: capitalize;
}

.landing .intro-text h1 {
    margin: 0;
    color: var(--mainColor);
    font-size: 50px;
    font-weight: bold;
}

.landing .intro-text p {
    font-size: 19px;
    line-height: 1.8;
}

/* end landing section */

/* start landing features */

.features {
    padding: var(--sectionPadding);
    background-color: #f6f6f6;
}

.features .container {
    gap: 20px;
}

.features .container .feat {
    padding: 20px;
    text-align: center;
}

.features .container .feat i {
    color: var(--mainColor);
    font-size: 40px;
}

.features .container .feat h3 {
    font-weight: 800;
    color: var(--secnodColor);
    margin: 30px 0;
}

.features .container .feat p {
    font-size: 17px;
    line-height: 1.8;
    color: #777;
}

/* end landing features */

/* start services */

.services {
    padding: var(--sectionPadding);
}

.services .services-content {
    gap: 30px;
    margin-top: 80px;
}

.services .services-content .srv {
    display: flex;
    margin-bottom: 40px;
}

@media (max-width: 767px) {
    .services .services-content .srv {
        flex-direction: column;
        text-align: center;
    }

    .services .services-content .srv .text {
        padding: 20px;
    }
}

.services .services-content .srv i {
    color: var(--mainColor);
    flex-basis: 60px;
    font-size: 30px;
}

.services .services-content .srv .text {
    flex: 1;
}

.services .services-content .srv .text h3 {
    margin: 0 0 20px;
    font-size: 20px;
}

.services .services-content .srv .text p {
    color: #444;
    line-height: 1.6;
    font-weight: 300;
}

.services .services-content .col:last-child {
    display: flex;
    justify-content: center;
}

.services .services-content .image {
    width: 260px;
    height: 300px;
    position: relative;
    margin-top: 30px;
}

.services .services-content .image::before {
    content: '';
    width: 80px;
    height: calc(100% + 100px);
    background-color: var(--secnodColor);
    position: absolute;
    top: -50px;
    right: -40px;
    z-index: -1;
}

.services .services-content .image img {
    width: 260px;
    height: 300px;
    z-index: -2;
    filter: grayscale(100%);
    -webkit-filter: grayscale(100%);
}

@media (max-width: 1199px) {
    .image-column {
        display: none;
    }
}

/* end services */

/* start portofio */

.portfolio {
    padding: var(--sectionPadding);
    background-color: #f6f6f6;
}

.portfolio .portfolio-content {
    gap: 30px;
    margin-top: 80px;
}

.portfolio .portfolio-content .card {
    background-color: white;
}

@media (max-width: 767px) {
    .portfolio .portfolio-content .card {
        text-align: center;
    }
}

.portfolio .portfolio-content .card img {
    max-width: 100%;
}

.portfolio .portfolio-content .card .info {
    padding: 20px;
}

.portfolio .portfolio-content .card .info h3 {
    margin: 0;
}

.portfolio .portfolio-content .card .info p {
    color: #444;
    line-height: 1.6;
    font-weight: 300;
    margin-bottom: 0;
}

/* end portofio */

/* start about */

.about {
    padding: var(--sectionPadding);
}

.about .about-content {
    margin-top: 80px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

@media (max-width: 991px) {
    .about .about-content {
        flex-direction: column;
        text-align: center;
    }
}

.about .about-content .image {
    position: relative;
    width: 250px;
    height: 275px;
}

.about .about-content .image::before {
    content: '';
    width: 80px;
    height: calc(100% + 80px);
    background-color: #ebeced;
    position: absolute;
    top: -40px;
    left: -10px;
    z-index: -1;
}

.about .about-content .image::after {
    content: '';
    width: 101px;
    height: 190px;
    border-left: 70px solid var(--mainColor);
    border-bottom: 70px solid var(--mainColor);
    position: absolute;
    top: -21px;
    right: -129px;
    z-index: -1;
}

.about .about-content .image img {
    max-width: 100%;
    height: 100%;
    filter: grayscale(100%);
    -webkit-filter: grayscale(100%);
}

@media (max-width: 991px) {
    .about .about-content .image::before,
    .about .about-content .image::after {
        display: none;
    }

    .about .about-content .image {
        margin: 0 auto 50px;
        width: 90%;
        height: 100%;
    }
}

.about .about-content .text {
    flex-basis: calc(100% - 500px);
}

.about .about-content .text p:first-of-type {
    line-height: 2;
    font-weight: bold;
    margin-bottom: 50px;
}

.about .about-content .text hr {
    width: 50%;
    border-color: var(--mainColor);
    display: inline-block;
}

.about .about-content .text p:last-of-type {
    line-height: 2;
    color: #777;
}

/* end about */

/* start contact */

.contact {
    padding: var(--sectionPadding);
    background-color: #f6f6f6;
}

.contact .info {
    padding: var(--sectionPadding);
    text-align: center;
}

.contact .info p {
    font-size: 35px;
    font-weight: 800;
    color: var(--secnodColor);
    margin: 0 0 15px;
}

.contact .info a {
    text-decoration: none;
    font-size: 35px;
    color: var(--mainColor);
    font-weight: 800;
    display: block;
}

.contact .info .social {
    margin-top: 20px;
    display: flex;
    justify-content: center;
    gap: 20px;
}

.contact .info .social i {
    color: var(--secnodColor);
}

@media (max-width: 767px) {
    .contact .info a {
        font-size: 25px;
    }

    .contact .info p {
        font-size: 25px;
        margin-bottom: 10px;
    }

    .contact .info .social {
        margin-top: 15px;
    }
}

/* end contact */

/* start footer */

.footer {
    padding: 30px;
    background-color: var(--secnodColor);
    text-align: center;
    color: white;
    font-weight: bold;
}

.footer span {
    color: var(--mainColor);
}

/* end footer */